// colors

$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-grey: hsl(227, 10%, 46%);

// parameters

$width-mob: 375px;
$main-height: 432px;
$top-height: 144px;
$bottom-height: 288px;
